.li-device-container {
    
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

/* Efeito de hover para destacar o item */
.li-device-container:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.device-info-container {
    flex: 1;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

/* Animação suave para os botões de editar e deletar */
.edit-delete-btn-container {
    flex: 0.2;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
}

/* Estilos para os botões */
.edit-delete-btn-container button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Estilo do botão Editar */
.edit-delete-btn-container .edit-btn {
    background-color: #357ABD;
}

.edit-delete-btn-container .edit-btn:hover {
    background-color: #2d6ca4;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo do botão Deletar */
.edit-delete-btn-container .delete-btn {
    background-color: #E41E3F;
}

.edit-delete-btn-container .delete-btn:hover {
    background-color: #CA3115;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
